.Rproj.user
.Rhistory
.RData
.Ruserdata
Budget_plus.csv
EPI_2020.csv
Electricity_consumption.csv
Electricity_from fossil fuels.csv
Electricity_production.csv
Industrial_production_growth_rate.csv
Labor_force.csv
Revenue_from_coal.csv
Revenue_from_forest_resources.csv
Unemployment_rate.csv
World_data.csv
exports.csv
